body {
    font-size: small;
}

#sidebar-btn {
    position: fixed;
    right: 4px;
    top: 4px;
    font-size: x-large;
    border: 0px;
    background-color: transparent;
    color: green;
    z-index: 1;
}
