body {
    /* background-color: #3b3b3b; */
    /* color: white; */
    /* background-color: #f5f5f7; */
    background-color: #d5d5d5;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    white-space: nowrap;
    margin: 0.2em;
    padding: 0.3em 0 0.3em 0;
}

.close-btn, .tab-lnk {
    vertical-align: middle;
}

.tab-lnk {
    display: inline-block;
    width: 94%;
    overflow: hidden;
    text-overflow: "";
    padding: 0 1em 0 0;
}

.close-btn {
    padding: 0;
    margin: 0;
    /* float: right; */
    visibility: hidden;
    cursor: crosshair;
}

li:hover > .close-btn {
    visibility: visible;
}

a {
    text-decoration: none;
    /* color: white; */
    color: black;
}

#actions-div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted;
    border-bottom-color: #c0c0c0;
}

.action-btn {
    border: 0;
    margin: auto;
    text-align: center;
    padding: 0;
    width: 2em;
    /* background-color: #3b3b3b; */
    /* color: white; */
    background-color: #d5d5d5;
    color: black;
    font-size: large;
}

#newtab-btn {
    float: left;
}

#undo-btn, #pin-btn {
    float: right;
}

.hover-btn:hover {
    /* background-color: #4f4f4f; */
    /* background-color: #d9d9dc; */
    background-color: #96b2d7;
}

.favicon {
    width: 1em;
    vertical-align: middle;
    pointer-events: none;
}

.hidden {
    display: none;
}

.active-tab {
    background-color: #96b2d7;
    /* border-radius: 16px 0 0 16px; */
}

.active-tab > .tab-lnk {
    font-weight: bold;
}
