@media(prefers-color-scheme: light) {
    body {
        background-color: #e5e8ea;
        color: black;
    }

    .last-pin-tab {
        border-bottom-color: #c0c0c0;
    }

    a {
        color: black;
    }

    .hover-btn:hover {
        background-color: #96b2d7;
    }

    .active-tab {
        background-color: #96b2d7;
    }

    .action-btn {
        background-color: #e5e8ea;
        color: black;
    }

    #actions-div {
        /* border-bottom-color: #c0c0c0; */
    }

    .pinned-ul {
        background-color: #d1cfd7;
    }
}

@media(prefers-color-scheme: dark) {
    body {
        background-color: #282a35;
        color: ivory;
    }

    a {
        color: white;
    }

    .hover-btn:hover {
        background-color: #4f4f4f;
    }

    .active-tab {
        background-color: #454758;
    }

    .action-btn {
        background-color: #282a35;
        color: white;
    }

    #actions-div {
        /* border-bottom-color: #c0c0c0; */
        background-color: #282a35;
    }

    .pinned-ul {
        background-color: #1c1b21;
    }
}

body {
    font-family: sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    white-space: nowrap;
    margin: 0.2em;
    padding: 0.3em 0 0.3em 0;
}

.last-pin-tab {
    border-bottom: 1px solid;
}

.close-btn, .tab-lnk {
    vertical-align: middle;
}

.tab-lnk {
    display: inline-block;
    width: 94%;
    overflow: hidden;
    text-overflow: "";
    padding: 0 1em 0 0;
}

.close-btn {
    padding: 0;
    margin: 0;
    /* float: right; */
    visibility: hidden;
    cursor: crosshair;
}

li:hover > .close-btn {
    visibility: visible;
}

a {
    text-decoration: none;
}

#actions-div {
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid; */
}

.action-btn {
    border: 0;
    margin: auto;
    text-align: center;
    padding: 0;
    width: 2em;
    font-size: large;
}

#newtab-btn {
    float: left;
}

#undo-btn, #pin-btn {
    float: right;
}

.hover-btn:hover {
    border-radius: 16px 16px 16px 16px;
}

.favicon {
    width: 1em;
    vertical-align: middle;
    pointer-events: none;
}

.hidden {
    display: none;
}

.active-tab {
    border-radius: 16px 16px 16px 16px;
}

.active-tab > .tab-lnk {
    font-weight: bold;
}
